html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  font: 10px 'Lato Regular', sans-serif;
}
ol, ul { list-style: none; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a, a:hover { text-decoration: none; }
h1 {
  position: absolute;
  top: -9999px;
}
/*.container{
  max-width: 1200px;
}*/
header {
    background-color: #323232;
    min-height: 63px;
    position: relative;
}
header::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 26px 45px 0 45px;
  border-color: #323232 transparent transparent transparent;
  position: absolute;
  z-index: 1;
  top:63px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/*nav {
  width: 50%;
  margin-top:30px;
  margin-bottom:20px;
}*/
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px 0 0;
}
nav li {
  padding: 6px 3px 3px;
  position: relative;
}
nav li::before {
  content: '';
  width: 2px;
  height: 2px;
  position: absolute;
  bottom: 19px;
  right: 0;
  background-color: #434B60;
}
nav li:nth-child(2):before,
nav li:last-child:before {
  display: none;
}
nav a {
  font: 10px 'Lato Bold';
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
}
nav a:hover {
  color: #00B598;
}
.arrow {
  width: 64px;
  height: 55px;
  background-image: url(../assets/img/arrow.png);
  position: relative;
  padding: 0;
  /*eft: 1px;*/
  top: 2px;
  margin: 0 20px 0 26px;
}
.arrow::before {
  display: none;
}

