html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  font: 10px 'Lato Regular', sans-serif;
}
ol, ul { list-style: none; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a, a:hover { text-decoration: none; }
h1 {
  position: absolute;
  top: -9999px;
}
h2 {
  font: 3rem 'Maven Pro Regular', sans-serif;
  color: #fff;
}
h3{
  font: 1.8rem 'Maven Pro Regular', sans-serif;
  line-height: 21px;
}
.container{
  max-width: 980px;
  margin: 0 auto;
}
header {
    background-color: #323232;
    min-height: 63px;
    position: relative;
}
header::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 26px 45px 0 45px;
  border-color: #323232 transparent transparent transparent;
  position: absolute;
  z-index: 2;
  top:63px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px 0 0;
}
nav li {
  padding: 6px 3px 3px;
  position: relative;
}
nav li::before {
  content: '';
  width: 2px;
  height: 2px;
  position: absolute;
  bottom: 19px;
  right: 0;
  background-color: #434B60;
}
nav li:nth-child(2):before,
nav li:last-child:before {
  display: none;
}
nav a {
  font: 10px 'Lato Bold';
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  letter-spacing: -0.02em;
}
nav a:hover {
  color: #00B598;
}
.arrow {
  width: 64px;
  height: 55px;
  background-image: url(../assets/img/arrow.png);
  position: relative;
  padding: 0;
  left: -1px;
  top: 2px;
  margin: 0 20px 0 28px;
}
.arrow::before {
  display: none;
}
.slide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 77px;
  margin-bottom: 54px;
}
.hr{
  height: 1px;
  background: #E3EAEC;
  margin: 11px 9px 10px;
  max-width: 980px;
  position: relative;
}
.hr:after {
  content: '';
  height: 1px;
  background: #fff;
  width: 140px;
  position: absolute;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.hexagon{
  height: 210px;
  width: 180px;
  overflow: hidden;
  -webkit-transform: rotate(60deg);
}
.hex-wrap {
  position: relative;
  margin: 0 10px;
}
.hex-wrap:nth-child(9n+5) {
  margin-left: 0;
}
.hex-wrap:nth-child(9n+9) {
  margin-right: 0;
}
.hex-wrap:nth-child(n+5) {
  margin-top: -42px;
}
.hex-layer1{
  height: 210px;
  width: 180px;
  -webkit-transform: rotate(-120deg);
  overflow: hidden;

}
.hex-layer2{
  height: 210px;
  width: 180px;
  -webkit-transform: rotate(60deg);
  overflow: hidden;
  background-image: url(../assets/img/work-1.png);
  background-position: 50% 67%;
  position: relative;
}
.hex-wrap:nth-child(9n+1):after,
.hex-wrap:nth-child(9n+4):after{
  content: '';
  position: absolute;
  width: 1px;
  height: 105px;
  background-color: #E3EAEC;
  top: 53px;
}
.hex-wrap:nth-child(9n+1):after{
  left: -20px;
}
.hex-wrap:nth-child(9n+4):after{
  right: -20px;
}
.hex-wrap:nth-child(1) .hex-layer2{
  background-image: url(../assets/img/work-6.png);
  background-position: 54% 76%;
}
.hex-wrap:nth-child(2) .hex-layer2{
  background-image: url(../assets/img/work-5.png);
  background-position: 50% 67%;
}
.hex-wrap:nth-child(3) .hex-layer2{
  background-image: url(../assets/img/work-8.png);
}
.hex-wrap:nth-child(4) .hex-layer2{
  background-image: url(../assets/img/work-7.png);
  background-position: 50% 150%;
}
.hex-wrap:nth-child(5) .hex-layer2{
  background-image: url(../assets/img/work-12.png);
  background-position: 50% 96%;
}
.hex-wrap:nth-child(6) .hex-layer2{
  background-image: url(../assets/img/work-11.png);
  background-position: 50% 102%;
}
.hex-wrap:nth-child(7) .hex-layer2{
  background-image: url(../assets/img/work-13.png);
}
.hex-wrap:nth-child(8) .hex-layer2{
  background-image: url(../assets/img/work-10.png);
  background-position: 47% 59%;
}
.hex-wrap:nth-child(9) .hex-layer2{
  background-image: url(../assets/img/work-9.png);
}
.hex-wrap:nth-child(10) .hex-layer2{
  background-image: url(../assets/img/work-2.png);
}
.hex-wrap:nth-child(11) .hex-layer2{
  background-image: url(../assets/img/work-1.png);
}
.hex-wrap:nth-child(12) .hex-layer2{
  background-image: url(../assets/img/work-4.png);
  background-position: 50% 50%;
}
.hex-wrap:nth-child(13) .hex-layer2{
  background-image: url(../assets/img/work-3.png);
  background-position: 25% 44%;
}
.slider-pagination {
  margin-left: 10px;
}
.slider-pagination li{
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right:1px;
  background-color: #E2D3C6;
  cursor: pointer;
}
.slider-pagination li:last-child{
  margin-right:0px;
}
.slider-pagination .active{
  background-color: #8E8885;
}
.no-dash {
  margin: 8px 12px 11px;
  width: 956px;
}
.no-dash:after {
  display: none;
}
.about {
  background-color: #00B598;
  padding: 15px;
}
.about .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 311px;
  max-width: 820px;
  border-left: 1px solid #219D85;
  border-right: 1px solid #219D85;
}
.about .hex-wrap {
  margin-right: 20px;
  margin-left: 0;
}
.about .hexagon .hex-layer2 {
  background-image: url(../assets/img/user.png);
  background-position: 49% 59%;
}
.about .hex-wrap:after {
  display: none;
}
.about-info {
  max-width: 580px;
}
.about h3{
  color: #00826C;
  margin-bottom: 13px;
}
.about p{
  font-size: 1.2rem;
  line-height: 21px;
  color: #fff;
}
.sotials {
  font-size: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 34px;
  margin-bottom: 5px;
}
.sotials li{
  background-color: #89DCD5;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.sotials li:nth-child(2),
.sotials li:nth-child(3),
.sotials li:nth-child(6) {
  background-color: #3AD1C6;
}
.sotials li:hover {
  background-color: #00CCBF;
}
.sotials a{
  font-size:1.3rem;  
  color: #00AE95;
  padding: 5px;
  cursor: pointer;
}
.sotials a.fa-facebook-f{
  padding-left: 9px;
}
.sotials a.pinterest-p{
  padding-left: 7px;
}
.sotials a.fa-linkedin-in{
  padding-left: 7px;
}
.get-in-touch {
  background-color: #2E2E2E;
}
.get-in-touch .container {
  max-width: 820px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.feedback-form {
  max-width: 580px;
  padding-top: 59px;
  width: 100%;
}
.feedback-form fieldset{
  display: flex;
  flex-direction: column;
}
.feedback-form legend{
  font: 3rem 'Maven Pro Regular', sans-serif;
  color: #E1E1E1;
}
.feedback-form h3 {
  color: #E1E1E1;
  margin-bottom: 19px;
}
.feedback-form input,
.feedback-form textarea{
  width: 100%;
  background-color: #434343;
  line-height: 22px;
  font:1.2rem 'Lato Regular';
  border: 0;
  padding: 10px 15px;
  color: #E1E1E1;
  letter-spacing: -0.02em;
}
.feedback-form input {
  height:38px;
  margin-bottom: 16px;
}
.feedback-form textarea{
  resize: none;
  height:148px;
  margin-bottom: 18px;
}
::-webkit-input-placeholder {
  font:1.2rem 'Lato Regular';
  color: #E1E1E1;
}
::-moz-placeholder {
  font:1.2rem 'Lato Regular';
  color: #E1E1E1;
}
:-ms-input-placeholder {
  font:1.2rem 'Lato Regular';
  color: #E1E1E1;
}
:-moz-placeholder {
  font:1.2rem 'Lato Regular';
  color: #E1E1E1;
}
.button-wrap {
  display: flex;
  justify-content: flex-end;
}
button[type="submit"] {
  width: 90px;
  height: 37px;
  background-color: #00B598;
  text-transform: uppercase;
  font: 1.2rem 'Lato Bold';
  line-height: 22px;
  border: 0;
  color: #E1E1E1;
  cursor: pointer;
}
.contact-wrap {
  max-width: 180px;
  margin-top: 128px;
  width: 100%;
}
.contact-description {
  font: 1.2rem/22px 'Lato Regular';
  color: #E1E1E1;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}
.contact-description span{
  font: 1.2rem/22px 'Lato Black';
  color: #E1E1E1;
  letter-spacing: -0.02em;
}
.contacts {
  font: 1.2rem/21px 'Lato Regular';
  color: #E1E1E1;
}
.contacts i{
  font-size: 1rem;
  margin-right: 10px;
  cursor: pointer;
  color: #00B598;
}
.contacts .fa-map-marker-alt{
  margin-left: 2px;
}
.contacts a{
  color: #E1E1E1;
}

